<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugas">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".WifiConnect"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UpdateMahasiswa"
            android:label="Update Mahasiswa"
            android:parentActivityName=".TambahMahasiswa"/>
        <activity
            android:name=".TambahMahasiswa"
            android:label="Tambah Mahasiswa"
            android:parentActivityName=".Activity.PageUtamaActivity" />
        <activity
            android:name=".Activity.DetailFilm"
            android:label="Details"
            android:parentActivityName=".Activity.PageUtamaActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.RegisActivity" />
        <activity android:name=".Activity.PageUtamaActivity" />

        <service
            android:name=".JobServiceMe"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>